body{

background:#0f172a;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

color:white;

}

.container{

background:#1e293b;

padding:40px;

border-radius:15px;

text-align:center;

width:700px;

box-shadow:0px 0px 20px rgba(0,0,0,.4);

}

.tech{

margin-top:30px;

}

.tech span{

display:inline-block;

margin:8px;

padding:10px 18px;

background:#2563eb;

border-radius:30px;

font-weight:bold;

}

h1{

color:#38bdf8;

}

h3{

margin-top:30px;

color:#22c55e;

}
